@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url('https://th.bing.com/th/id/OIG3.xt4BrdsY.5lgF.5E_jEO?w=1024&h=1024&rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

nav {
    background-color: rgba(0, 51, 102, 0.8);
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 10px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: rgba(0, 102, 204, 0.8);
    color: #fff;
    border-radius: 4px;
}

section {
    flex: 1;
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 1200px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h2, h3, h4 {
    color: #fff;
}

p {
    color: #ccc;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer {
    background-color: rgba(0, 51, 102, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }

    .container {
        padding: 20px;
    }

    section {
        padding: 20px;
    }

    .content {
        flex-direction: column;
    }

    .text, .image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


.opinion-button {
    background-color: rgba(0, 51, 102, 0.8);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.opinion-button:hover {
    background-color: rgba(0, 102, 204, 0.8);
}

.opinion-form {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.opinion-form textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
